{:values {:tenforty.forms.ty2016.f1040/senior true
          :tenforty.forms.ty2016.f1040/spouse_senior true
          :tenforty.forms.ty2016.f1040/blind true
          :tenforty.forms.ty2016.f1040/spouse_blind true}
 :groups {}}
